body{
  margin: 0;
  padding: 0;
  justify-content: center;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: #eee;
}
.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle{
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand{
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.brand span{
  color: #C0C0C0;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
  animation-delay: 0s;
}

nav ul li:nth-child(2){
  animation-delay: .5s;
}

nav ul li:nth-child(3){
  animation-delay: 1s;
}

nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child{
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #C0C0C0;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before{
  top: 0;
  transform-origin: left;
}

nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}

.overlay{
  background-color: rgba(0,0,0,.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px){

  .menu-toggle{
    display: block;
  }

  nav{
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul{
    flex-direction: column;
  }

  nav ul li{
    margin-top: 5rem;
  }

  nav ul li a{
    margin: 0;
    font-size: 2.5rem;
  }

  .brand{
    font-size: 5rem;
  }
  
  .overlay.menu-open,
  nav.menu-open{
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
  
}

.menu-toggle{
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand{
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.brand span{
  color: #C0C0C0;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
  animation-delay: 0s;
}

nav ul li:nth-child(2){
  animation-delay: .5s;
}

nav ul li:nth-child(3){
  animation-delay: 1s;
}

nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child{
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #C0C0C0;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before{
  top: 0;
  transform-origin: left;
}

nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}

.overlay{
  background-color: rgba(0,0,0,.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px){

  .menu-toggle{
    display: block;
  }

  nav{
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul{
    flex-direction: column;
  }

  nav ul li{
    margin-top: 5rem;
  }

  nav ul li a{
    margin: 0;
    font-size: 2.5rem;
  }

  .brand{
    font-size: 5rem;
  }
  
  .overlay.menu-open,
  nav.menu-open{
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
  
}
    .tgs {
      text-align: center;
      padding-top: 3px;
      color: white;
      font-family: 'Montserrat', sans-serif;
      opacity: 50%;
    }

    .srv{
      text-align: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
      opacity: 50%;
      font-size: 70px;
    }
    .Horizontal-line {
      width: 100%;
      height: 1px;
      padding-top: 8px;
      position: relative;
      top: -290px;
      background-color: grey;
    }

.more{
  color: black;
  background-image: linear-gradient(90deg, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-size: 400%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  font-size: 12px;
  line-height: 30px;
  max-width: 120px; 
  position: absolute;
  top: 86%;
  left: 29%;
  text-align: center;
  width: 100%
}
.more:hover{

}

@media screen and (max-width: 767px) {
   .srv{
    font-size: 50px;
    flex-direction: column;
   }
}

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {
    background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80) 20% 1% / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);
    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    span {
      top: -10px;
    }
  }
}

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {
    background: url(https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80) 20% 1% / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);
    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    span {
      top: -10px;
    }
  }
}

//mixins
@mixin align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

//presentation 
.container {
  position: relative;
  .page-title, .page-sub-title  {
    color: white;
    text-align: center;
  }
  .page-title {
    margin: 30px 0 5px;
    font-size: 30px;
  }
  .page-sub-title {
    font-weight: 100;
    margin: 0 0 30px 0;
    font-size: 23px;
  }
}

//variables
$pink: #DE6262;
$dark: #333741;
$peach: #FFB88C;
$green: #52c234;

img {
  display: block;
  width: 100%;
}

.card-container {
  perspective: 1000;
  margin: 0 auto 50px;
  width: 400px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  transition-delay: 0.15s;
  transition: 0;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  opacity: 0;
  padding-top: 20px;
  backface-visibility: visible;
  background: $dark;
  color: white;
}

.card {
  position: relative;
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: 0.5s;
  transform-style: preserve-3d;
  &:hover {
    transform: rotateY(180deg);
    .front {
      opacity: 0;
    }
    .back {
      opacity: 1;
    }
  }
}

.sub-title {
  color: $pink;
  animation: slide-in 0.75s;
  animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 18px;
  font-weight: 200;
  margin: 0 0 5px 0;
}

.title {
  color: $dark;
  animation: slide-in-slow 0.75s;
  animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.synopsis {
  color: $pink;
  font-size: 27px;
  font-weight: 600;
  margin: 0 0 15px;
}

p {
  color: rgba(white, 0.85);
  font-size: 19px;
  line-height: 1.5;
  margin: 0 0 35px;
}

.btn {
  border: 1px solid $peach;
  border-radius: 5px;
  background: transparent;
  display: inline-block;
  font-size: 17px;
  padding: 20px 9px 15px;
  color: $peach;
  transition: 0.5s;
  margin: 0 2px 0;
  font-weight: 100;
  &.secondary {
    border-color: $pink;
    color: $pink;
      &:hover {
        background: $pink;
      }
  }
  &:hover {
    cursor: pointer;
    background: $peach;
    color: white;
  }
  i {
    margin: 0 5px 0;
  }
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: slide-in-right 1.25s;
  animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.110, 1.165);
  animation-timing-function: cubic-bezier(0.625, 0.075, 0.110, 1.165);
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

//animation
@keyframes slide-in {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in-slow {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  20% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate3d(400px, 0, 0);
  }
  30% {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


box-sizing: inherit;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 24px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}